{% extends "layout.twig" %}

{% block content %}
<form action="" method="post">
    <label for="title">Titre :</label>
    <input type="text" name="title" id="title" />
    <label for="article">Article :</label>
    <textarea name="article" id="article"></textarea>
    <label for="tag1">Tag 1</label>
    <input type="text" name="tag1"/>
    <label for="tag2">Tag 2</label>
    <input type="text" name="tag2"/>

    <input type="submit" />
</form>
{% endblock %}
