{% extends "layout.twig" %}

{% block content %}
    <section>
        {% for article in articles %}
            <article>
                <h2>{{ article.title }}</h2>
                <p class="body">
                    {{ article.body }}
                </p>
                <ul>
                    <p>Tag : </p>
                    <li><a href="#">{{ article.tag }}</a></li>
                </ul>
                <div class="clear"></div>
            </article>

        {% endfor %}
    </section>
{% endblock %}
